body{
    background-image: url(./images/ab2ab7af421a002f9a2a00dc8f799dc0.jpg);
    background-size: cover;
    position: absolute;
}
.accm{
    background-image: url(./images/guest-room-amenity.jpg);
    background-size: cover;
}
.cont{
    background-image: url(./images/170327131730-beautiful-island-hotels-9-naka-island-2.jpg);
    background-size: cover;
}
.pict{
    background-image: url(./images/ab2ab7af421a002f9a2a00dc8f799dc0.jpg);
    background-size: cover;
}
.travel{
    background-image: url(./images/cont.jpg);
    background-size: cover;
}
.nav {
    min-width: 320px;
    margin: 0 auto;
    padding: 10px 0;
    margin-right: 0%;
    position: fixed;
   }
  
   nav>ul{
    text-align: right;
  }
  
   nav>ul>li{
    display: inline-block;
   }
  
   nav>ul>li>a {
    margin-top: 0px;
    padding: 8px;
    margin-right: 0;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    border: outset 2px white;
    border-radius: 10px;
    color: #f10e47;
   }
  
   nav>ul>li>a:hover {
   box-shadow: 0 0 10px rgba(252, 250, 250, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
   background: rgb(177, 250, 240);
   color: rgb(8, 0, 0);
   }
   img{
       height: 300px;
       width: 300px;
       float: left;
   }